{% extends 'layout.html' %}

{% block content %}
    <h1>{% block title %} Add users {% endblock %}</h1>
    {% if logged_in %}
        <form method="post">
            <label for="usernames">Usernames</label>
            <br>
            <textarea name="usernames"
                    placeholder="Usernames"
                    rows="15"
                    cols="60"
                    >{{ request.form['usernames'] }}</textarea>
            <br>
            <button type="submit">Add users</button>
        </form>
    {% else %}
        <p>You must <a href="{{ url_for('login') }}">login</a> to view this page.</p>
    {% endif %}
    {% if available >= 0 %}
        Remaining API calls available: {{ available }}
    {% endif %}
{% endblock %}