{% extends 'layout.html' %}

{% block content %}
    <h1>{% block title %} List users {% endblock %}</h1>
    {% if logged_in %}
        {% if head and rows %}
            <table>
                <thead><tr>
                    {% for title in head %}
                        <th>{{title}}</th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        {% for entry in row %}
                            <td>{{entry}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
        {% endif %}
        <form method="post">
            <button type="submit">List all users</button>
        </form>
        {% if available >= 0 %}
            Remaining API calls available: {{ available }}
        {% endif %}
    {% else %}
        <p>You must <a href="{{ url_for('login') }}">login</a> to view this page.</p>
    {% endif %}
{% endblock %}